<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
<div class="container">
<form>
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Create">
</form>

    <table >
        <tr>
            <td>car_name</td>
            <td>brand_nme</td>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{car.car_name}}</td>
            <td>{{car.brand_nme}}</td>
        </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>