<!DOCTYPE html>
{% extends "Hrapp/base.html" %}


{% block body_block %}
<form>
    {%csrf_token%}
    {{Edit.as_p}}
</form>
<table class="table">
    <tr>
        <td>NAme</td>
        <td>Designation</td>
        <td>Apply date</td>
        <td>To date</td>
        <td>Reason</td>
        <td>Days</td>
        <td>Leave status</td>
    </tr>
    {% for status in Edit %}
    <tr>
        <td>{{status.Name}}</td>
        <td>{{status.desgination}}</td>
        <td>{{status.AplyDate}}</td>
        <td>{{status.toDate}}</td>
        <td>{{status.Reason}}</td>
        <td>{{status.days}}</td>
        <td>{{status.leave_status}}</td>
        <td><a href="{%url 'Leaveconfirm' status.id%}">View</a></td>
        <td><a href="{%url 'DeleteStatus' status.id%}">Delete status</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}