<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <p align="center">User Registration page</p>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-12">
                <form method="post">
                    {%csrf_token%}
                    {{register.as_p}}
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>