<!DOCTYPE html>
{% extends "Clientapp/userbase.html" %}


{% block body_block %}
<p></p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post">
                {%csrf_token%}
                {{search.as_p}}
                <input type="submit" value="SEARCH">
            </form>

        </div>
    </div>
<br>
    <div class="jumbotron">



        <div class="row">
            {% for car in view %}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <img height="200px" class="card-img-top" src="{{car.image.url}}" alt="Card image cap">
                        <table>
                            <tr>
                                <td><h5 class="card-title">{{car.brand_nme}}</h5></td>
                                <td><h5 class="card-title">Seat </h5></td>
                                <td><h5 class="card-title">{{car.seat_Select}}</h5></td>
                            </tr>
                            <tr>
                                 <td><p class="card-text" >Location</p></td>
                                <td><p class="card-text">{{car.location}}</p></td>
                            </tr>
                            <tr>

                                <td><p class="card-text"><input type="checkbox">{{car.lw_km}}KM</p></td>
                                <td><p class="card-text"><input type="checkbox">{{car.price}}RS</p></td>
                            </tr>
                            <tr>
                                <td><p class="card-text"><input type="checkbox">{{car.Hi_km}}KM</p></td>
                                <td><p class="card-text"><input type="checkbox">{{car.price_high}}RS</p></td>
                            </tr>
                            <tr>
                                <td><a href="{%url 'OrderCreate' car.id%}" class="btn btn-primary">Buy Now</a></td>
                                &nbsp;
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}